.menu button {
	background-color: #f4f4f4;
	border: 1px gray;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	padding: 12px 24px;
	position: relative;
	left: 650px;
	bottom: 110px;
}
.buttonR {
	border-radius: 6px;
	padding: 9px 15px;
    margin: 5px 67px;
}
.circle {
    float: left;
    position: relative;
    top: 266px;
    left: 600px;
}

