.menu button {
	background-color: #f4f4f4;
	border: 1px gray;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.6em;
	padding: 12px 24px;
	position: relative;
	left: 40.625em;
	bottom: 110px;
}
.buttonR {
	border-radius: 6px;
	padding: 9px 15px;
    margin: 5px 67px;
}

