* {
	margin: 0;
	padding: 0;
}
h2 {
	color :$second-font-color;
	text-transform: uppercase;
	font: 1.125em $first-font;
}
h3 {
	color: #fff;
	text-transform: uppercase;
	font-family: $first-font;
}
p {
	color: $third-font-color;
	font: 0.8125em $first-font;
}