.wrapper {
	width: 67.2%;
	margin: 0 auto;
}
.header {
	border-top: 10px solid $first-color;
	background-color:$second-color;
	height: 426px;
}
.infoHeader {
	width: 32%;
	height: 115px;
	position: relative;
    left: 206px;
}

.infoHealth {
	text-align: center;
	width: 25.2%;
	display: inline-block;
    margin: 106px 0px 140px 73px;
}
.infoU {
	background-color: $first-color;
    width: 51.3%;
    height: 411px;
    position: relative;
    left: 48.7%;
    bottom: 415px;
}
.infoU h3 {
	margin: 0px 55px;
}
.infoU p {
	color: #fff;
	font: 16px $primary-font;
	width: 80.23%;
    margin: 38px 54px;
}
.galeria {
	text-align: center;
	position: relative;
    bottom: 310px;
}
.footer {
	background-color: $first-color;
    height: 225px;
    margin-bottom: 100px;
    width: 67.2%;
    margin: 0 auto;
}

.moreInfo {
	width: 18.5%;
	display: inline-block;
	vertical-align: text-top;
	position: relative;
    left: 12.5%;
    top: 48px;
}



