.logo {
    position: relative;
    left: 118px;
    bottom: 51px;
}
.home {
	height: 14px;
}
.arrowL {
	position: relative;
    right: 298px;
    top: 108px;
}
.arrowR {
	position: relative;
    left: 718px;
    top: 108px;
}
.points {
	position: relative;
    left: 154px;
    top: 248px;

}
.coffeeGrains {
	position: relative;
    left: 650px;
    top: 175px;
}
.circle {
	position: relative;
    left: 751px;
    top: 98px;
}