.logo {
    position: relative;
    left: 9%;
    bottom: 51px;
}
.home {
	height: 14px;
}
.arrowL {
	position: relative;
    right: 24%;
    top: 108px;
}
.arrowR {
	position: relative;
    left: 56%;
    top: 108px;
}
.points {
	position: relative;
    left: 12%;
    top: 248px;

}
.coffeeGrains {
	position: relative;
    left: 50%;
    top: 175px;
}
.circle {
	position: relative;
    left: 46.7%;
    top: 98px;
    float: left;
    left: 47%;
}