.logo {
    position: relative;
    left: 7.375em;
    bottom: 51px;
}
.home {
	height: 14px;
}
.arrowL {
	position: relative;
    right: 18.625em;
    top: 108px;
}
.arrowR {
	position: relative;
    left: 44.875em;
    top: 108px;
}
.points {
	position: relative;
    left: 9.625em;
    top: 248px;

}
.coffeeGrains {
	position: relative;
    left: 40.625em;
    top: 175px;
}
.circle {
    position: relative;
    left: 46.9375em;
    top: 98px;
    float: left;
    top: 266px;
    left: 37.5em;
}